<div class="dialog">
  <div>
    <h1>shotty</h1>
    <!--<p>FIXME</p>-->
  </div>

  <p><a href="/authorize" rel="nofollow">Authorize your Dropbox account</a> for use with shotty.</p>
  <p>View the code on <a href="https://github.com/itspriddle/shotty">GitHub</a>.</p>
</div>
